body{
	display: flex;
	height: 100vh;
	margin: 0;
	background-color: #f4f4f4;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
}
#left-container{
	position: fixed;
	left: 1%;
	top: 50%;
	transform: translateY(-50%);
	width: 20%;
	color: white;
	height: 90vh;
	display: flex;
	padding: 20px;
	flex-direction: column;
	justify-content: center;
}

#quiz-container{
	position: fixed;
	left: 0%;
	top: 80%;
	transform: translateY(-50%);
	width: 100%;
	background: #222;
	color: white;
	height: 20vh;
	display: flex;
	padding: 20px;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	flex-direction: column;
}

#quiz-container.active{
	top: 50%;
}

#nav-container{
	position: fixed;
	left: 0%;
	top: 34%;
	transform: translateY(-50%);
	width: 100%;
	background: #222;
	color: white;
	height: 55vh;
	display: flex;
	padding: 20px;
	flex-direction: column;
	justify-content: center;
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

#score-container{
	display: none;
	position: fixed;
	left: 0%;
	top: 30%;
	transform: translateY(-50%);
	width: 100%;
	background: #222;
	color: white;
	height: 5vh;
	padding: 20px;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
}

#nav-container ul{
	list-style: none;
	padding: 0;
}

#nav-container ul li{
	margin: 10px 0;
}

#nav-container ul li a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 10px;
	background: #333;
	border-radius: 5px;
	text-align: center;
}

#nav-container ul li a:hover{
	background: #444;
}

#svg-container{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45%;
	height: 90vh;
	padding: 5px;
}

.svg-object{
	width: auto;
	height: 100%;
	max-height: 100%;
	display: block;
}

#info-container{
	position: fixed;
	right: 1%;
	top: 50%;
	transform: translateY(-50%);
	width: 20%;
	background: white;
	padding: 20px;
	height: 80vh;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	border-left: 1px solid #ccc;
	box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
}

#info-text{
	font-size: 16px;
	text-align: center;
}

svg path{
	transition: fill 0.3s ease;
	cursor: pointer;
}

#logo{
	 display: block;
	 width: 30%;
	 max-width: 30%;
	 margin: 0 auto 20px auto;
}

#account-btn{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px auto;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

#account-btn:hover{
	transform: scale(1.1);
}

#account-btn img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
 
#start-quiz{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
	width: 40%;
	height: 30%;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
 
#start-quiz:hover{
    background-color: #0056b3;
}
 
/* Hide left and right divs smoothly */
.hidden{
    opacity: 0;
    transition: opacity 1s ease-out;
    pointer-events: none;
}

.visible{
    opacity: 1;
    transition: opacity 1s ease-out;
    pointer-events: auto;
}

#quiz-text{
	display: none;
	font-size: 20px;
	margin: 0%;
}

#quiz-muscle{
	display: none;
	font-size: 25px;
}

#quit-quiz{
    font-size: 16px;
    background-color: #007bff;
	margin-right: 30px;
	width: 30%;
	height: 100%;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
 
#quit-quiz:hover{
    background-color: #0056b3;
}

#score-text{
	font-size: 20px;
}

#feedback-correct{
	position: fixed;
	top: 70%;
	left: 13%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	font-weight: bold;
	color: green;
	transition: opacity 0.5s ease-in-out;
	pointer-events: none;
}

#feedback-wrong{
	position: fixed;
	top: 70%;
	left: 13%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	font-weight: bold;
	color: red;
	transition: opacity 0.5s ease-in-out;
	pointer-events: none;
}
